<a
  [routerLink]="['/addevent']"
  style="text-decoration: none; margin-left: 30px; color: black"
>
  Criar novo evento >
</a>
<table mat-table [dataSource]="events" class="mat-elevation-z8">
  <caption>
    Lista de Eventos
  </caption>

  <!-- imageURL Column -->
  <ng-container matColumnDef="imageURL">
    <th mat-header-cell *matHeaderCellDef>Imagem</th>
    <td mat-cell *matCellDef="let event"><img src="{{ event.imageURL }}" /></td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Título</th>
    <td mat-cell *matCellDef="let event">{{ event.title }}</td>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let event">
      <a mat-icon-button [routerLink]="['/addevent', event.id]">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </a>
      <button mat-icon-button (click)="onClick(event)">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
