.container {
    height:100%;
    position:relative;
 }

.espacamento{
    margin:0;
    padding:0;
    padding-bottom:80px;
}
app-foot-bar{
    width:100%;
    height:80px;   /* Height of the footer */
    background:#37474F;
    display: block;
    bottom: 0px;
    left: 0px;
}