/* Carrosel CSS */

/* Cards CSS */
.card {
  max-height: 350px;
  min-height: 250px;
  max-width: 350px;
  min-width: 250px;
  display: flex;
  margin-right: 25px;
}
.cards {
  display: flex;
}

/* Links CSS */
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(19, 47, 139);
}

img {
  height: 194px;
  max-width: 350px;
}

.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 370px;
  width: 100%;
}
