<div class="viewer-wrapper">
  <div class="viewer-title">
    <div class="viewer-title-text">Troque sua senha</div>
  </div>
  <form (ngSubmit)="onSubmit()" class="viewer-body">
    <mat-form-field appearance="outline">
      <mat-label>Digite a sua nova senha</mat-label>
      <input matInput [formControl]="password" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Digite a senha novamente</mat-label>
      <input matInput [formControl]="rePassword" required />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Enviar</button>
  </form>
</div>
