a{
    color: black;
    filter: invert(100%);
    text-decoration: none;
    height: 30px;
}
img{
    height: 30px;
}

 .footer{
    background: #37474F;
    position: inherit;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}