<div class="footer">
  <div>
    <a href="https://instagram.com/marcos_costa_braga"><img src="https://icons-for-free.com/iconfiles/png/512/instagram+material+mobile+network+photo+icon-1320184944862383850.png" alt="Instagram"> Marcos Costa</a>
    <br>
    <a href="https://instagram.com/mateus.rlv/"><img src="https://icons-for-free.com/iconfiles/png/512/instagram+material+mobile+network+photo+icon-1320184944862383850.png" alt="Instagram"> Mateus Gomes</a>
  </div>
    <div style="padding-top:15px;">
      <a [routerLink]="['/suporte']">Contate-nos</a>
    </div>
</div>