.card {
  max-height: 350px;
  max-width: 350px;
  display: flex;
  margin-right: 25px;
}
.cards{
  display: flex;
}

/* Links CSS */
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(19, 47, 139);
}

 img{
  height: 194px;
  max-width: 350px;
}